body {
    background: #fcfcfc;
    font-family: 'Dosis', sans-serif;
}

h1, h2, h3, h4, h6, h6, .card-title, .brand {
    font-family: 'Lato', sans-serif;
}
.brand-logo {
    margin-left: 0;
}
.brand-logo>.logo {
    background: url(/images/logo4.png);
    width: 200px;
    height: 55px;
    background-size: 60%;
    background-position: 10px 2px;
    background-repeat: no-repeat;
}

.st-nav .button-collapse {
    margin: 0;
    padding: 0 15px;
}

.leftbar {
    background: #2d323e;
}

.leftbar a, .leftbar li>a>i.material-icons {
    color: #fff;
}
.leftbar>.nav-title{
    box-sizing: content-box;
}
.leftbar>.nav-title>a{
    color: #0f4570;
    font-weight: 600;
    padding: 3px 10px;
}

.leftbar>li{
    /*border-bottom: 1px solid red;*/
}

.leftbar a {
    padding: 0 10px;
}
.leftbar li.small-title {
    background: rgb(34, 38, 47);
    line-height: 25px;
    font-weight: 600;
    padding: 0 10px;
    color: #7bbe7e;
    text-transform: uppercase;
    font-size: 12px;
}

.side-nav{
    top: 55px;
}

@media only screen and (max-width: 992px) {
    .brand-logo>.logo {
        background-position: 45px 2px;
    }
    .side-nav {
        top: 0;
    }
}

.required:before {
    content: '* ';
    color: red;
}

img.circle.responsive-img.right {
    width: 40px;
    margin: 8px;
}

.card-header {
    margin: 0;
    padding: 15px 35px;
    font-size: 1.5em;
    border-bottom: 2px solid #e4e4e4;
}

.new-wrapper{
	margin: 20px;
}

nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 55px;
    line-height: 55px;
}


::-webkit-input-placeholder {
   padding-left: 10px;
}

:-moz-placeholder { /* Firefox 18- */
   padding-left: 10px;  
}

::-moz-placeholder {  /* Firefox 19+ */
   padding-left: 10px;
}

:-ms-input-placeholder {  
   padding-left: 10px;
}

.transparent{
	background: transparent;
}

nav
{
	background: #808080;
}

.rightbar
{
	background: #ccc;
	height: 100vh;
	overflow: auto;
}

/* .leftbar
{
    background: #ccc;
    height: 100vh;
}

.leftbar ul li
{
    padding: 15px;
    background: white;
    margin: 5px;
} */

.task-post-input
{
	border: none;
	-webkit-transition: height 0.5s; /* For Safari 3.1 to 6.0 */
    transition: height 0.5s;
}

.task-post-input:focus
{
	height: 100px;
	border: none;
}

.post-btn
{
	right: 12px;
	width: 100px;
}

.time
{
	font-weight: 300;
    font-size: 0.8rem;
    color: #fff !important;
    background-color: #26a69a;
    border-radius: 2px;
}

.today-time
{
		font-weight: 300;
	    font-size: 0.8rem;
	    color: #fff !important;
	    background-color: #26a69a;
	    border-radius: 2px;
	    padding: 3px;
	    margin-left: 15px;

}

.material-icons.balanced
{
	top: 4px;
	position: relative;
	margin-left: 10px;
	margin-right: 5px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

/*Modal properties*/

.modal h4{
    background-color: rgb(2,136,209);
    color: rgb(255,255,255);
    padding: 8px 15px;
}

.modal.modal-fixed-header .modal-header {
    border-top: 1px solid rgba(0,0,0,0.1);
    position: absolute;
    top: 0;
}
.modal .modal-header {
    border-radius: 0 0 2px 2px;
    background-color: #fafafa;
    padding: 4px 6px;
    height: 56px;
    width: 100%;
}

.taskModal{
    width: 40%;
    max-width: 50%;
}